* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  border: 1px solid black;
  header {
    height: 40px;
    width: 99.75%;
    background: black;
    margin: 1px auto;
      .navLeft {
        float: left;
        color: white;
        margin: 10px 5px;
        font-size: 18px;
        font-weight: bold;
      }
      .navRight {
        float: right;
        color: white;
        margin: 10px 5px;
        font-size: 17px;
        font-weight: bold;
        li{
          float: left;
          margin-left: 40px;
        }
      }
      ul {
        list-style: none;
      }
      .clearfix::after {
        clear: both;
        content: '';
        display: block;
      }
  }
  .navRight{
    .centerText {
      position: relative;
      padding-bottom: 10px;
      .dropdown {
        text-align: left;
        position: absolute;
        background-color: black;
        right: -20px;
        top: 45px;
        li {
          width: 100px;
          height: auto;
          margin: 0 10px 0 10px;
          padding: 0 0 5px 10px;
        }
        .white {
          position: absolute;
          background-color: transparent;
          height: 15px;
          top: -15px;
          left: -10px;
          width: 120px;
        }
          .trinagle {
            top: -10px;
            left: 45px;
            position: absolute;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 13px solid black;
          }
        }
      }
    }
  /*.navRight .centerText a {
    display:block
  }
  .navRight .centerText .dropdown  li {
    display:none
  }

  .navRight .centerText:hover .dropdown  li {
    display: block;
  }*/

  }
  .gradientBackground {
    height: fit-content;
    background: rgba(252,252,252,1);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(59%, rgba(252,252,252,1)), color-stop(96%, rgba(174,174,174,1)), color-stop(100%, rgba(166,166,166,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#a6a6a6', GradientType=0 );
     .container {
       display: flex;
       flex-direction: row;
      .leftSlider {
        width: 10%;
        font-size: 75px;
        font-weight: 100;
        line-height: 350px;
      }
      .firstSectionImg {
        background: url("../images/black_chair.png") no-repeat left/contain;
        width: 470px;
        height: 337px;
        margin: 25px -50px;
      }
       .firstSectionImg2 {
         background: url("../images/red_chair.png") no-repeat left/contain;
         width: 364px;
         height: 387px;
       }
      .mainText {
        width: 39%;
        margin-top: 95px;
        .button {
          font-size: 20px;
          border-radius: 10px 10px 10px 10px;
          padding: 10px;
          margin: auto;
        }
        h1 {
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 25px;
        }
        div {
          text-align: center;
          margin-bottom: 30px;
        }
      }
      .rightSlider {
        width: 14%;
        font-size: 75px;
        font-weight: 100;
        text-align: right;
        line-height: 350px;
      }
     }
    .clearfix::after {
      clear: both;
      content: '';
      display: block;
    }
  }
  .lightCyan {
    color: #27c7ab;
    font-weight: bold;
  }
  .secondSection {
    padding-top: 25px;
    display: flex;
    height: fit-content;
    justify-content: space-around;
    flex-wrap: wrap;
    .whiteChair {
      background: url("../images/box1_img.jpg") no-repeat;
      height: 225px;
      width: 329px;
      display: flex;
      align-items: flex-end;
      div {
        width: 40%;
      }
    }
    .kido {
      background: url("../images/box2_img.jpg") no-repeat;
      height: 225px;
      width: 329px;
      display: flex;
      align-items: flex-end;
    }
    .mysteryBox {
      background: url("../images/babybed.jpg") no-repeat center/cover;
      font-size: 20px;
      font-weight: bold;
      padding-top: 125px;
      text-align: center;
      height: 225px;
      width: 329px;
      border: 1px solid lightgray;
    }
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .button {
    background: #27c7ab;
    color: white;
    width: fit-content;
    height: fit-content;
  }
  .whiteBackground {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
    .borderText {
      width: fit-content;
      font-weight: 900;
      margin: 5px 10px 10px 10px;
      padding-top: 10px;
      border-bottom: 8px solid #27c7ab;
    }
  }

  .box1 {
    border: 2px solid #ababab;
    margin-top: 60px;
    height: 450px;
    width: 320px;
    position: relative;
    background-color: #f0f0f0;
    div {
      text-align: center;
    }
    .box1Cont1 {
      margin-top: 35px;
      color: #27c7ab;
      font-size: 25px;
    }
    .box1Cont2 {
      font-weight: bolder;
      color: #ababab;
      font-size: 50px;
      margin-top: 20px;
      sup {
        font-size: 30px;
        font-weight: lighter;
      }
    }
    .box1Cont3 {
      color: #ababab;
      font-weight: 900;
    }
    .box1Cont4 {
      margin-top: 160px;
      font-size: 25px;
      background: #c6c6c6;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
    .box1Cont5 {
      font-size: 25px;
      background: #dfdfdf;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
    .box1Cont6 {
      font-size: 20px;
      border-radius: 10px 10px 10px 10px;
      margin: 85px 90px;
      padding: 10px;
      background: #27c7ab;
      color: white;
    }
    .box1Cont7 {
      font-size: 25px;
      background: #c6c6c6;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
    .box1Cont8 {
      font-size: 25px;
      background: #dfdfdf;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
    .box1Cont9 {
      font-size: 20px;
      border-radius: 10px 10px 10px 10px;
      margin: 10px 90px;
      padding: 10px;
      background: #27c7ab;
      color: white;
    }
  }

  .circle1 {
    border: 2px solid #ababab;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -34px;
    left: 50%;
    margin-left: -30px;
    border-radius: 50%;
    background: white;
  }

  .bigCircle1 {
    border: 2px solid #ababab;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 105px;
    border-radius: 50%;
    background: white;
  }

  .dot1 {
    height: 30px;
    width: 30px;
    background-color: #ababab;
    position: absolute;
    left: 50%;
    top: -1%;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 50%;
  }

  .box2 {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
    margin-top: 60px;
    height: 450px;
    width: 320px;
    position: relative;
    div {
      text-align: center;
    }
    .box2Cont1 {
      margin-top: 35px;
      color: white;
      font-size: 25px;
    }
    .box2Cont2 {
      font-weight: bolder;
      color: #27c7ab;
      font-size: 50px;
      margin-top: 20px;
      sup {
        font-size: 30px;
        font-weight: lighter;
      }
    }
    .box2Cont3 {
      color: #27c7ab;
      font-weight: 900;
    }
    .box2Cont4 {
      margin-top: 160px;
      font-size: 25px;
      background: white;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
    .box2Cont5 {
      font-size: 25px;
      background: #dfdfdf;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
    .box2Cont6 {
      font-size: 20px;
      border-radius: 10px 10px 10px 10px;
      margin: 48px 90px;
      padding: 10px;
      background: white;
      color: #27c7ab;
    }
    .box2Cont7 {
      font-size: 25px;
      background: white;
      color: #5b5a5a;
      width: 100%;
      padding: 5px 0 5px 0;
    }
  }
  .bigCircle2 {
    border: 2px solid #27c7ab;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 105px;
    border-radius: 50%;
    background: white;
  }
  .circle2 {
    border: 2px solid #27c7ab;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -34px;
    left: 50%;
    margin-left: -30px;
    border-radius: 50%;
    background: #27c7ab;
  }

  .dot2 {
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: -1%;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 50%;
  }

  .thirdSection {
    height: fit-content;
    background-color: #e9e9e9;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
    }
    article {
      padding-top: 20px;
    }
  }
  .short {
    padding: 10px 0 1px 0;
    background-color: #e9e9e9;
    .borderText {
      font-size: 25px;
      width: 32%;
      margin: 5px 10px 10px 0;
      padding-top: 10px;
      border-bottom: 8px solid #27c7ab;

    }
  }
  .fourthSection {
    height: auto;
    .borderText {
      font-size: 25px;
      width: 54%;
      margin: 5px 0 20px 0;
      padding-top: 20px;
      border-bottom: 8px solid #27c7ab;

    }
  }

.fourthSection {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    form {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      input {
        border: 1px solid #27c7ab;
        width: 100%;
        margin: 10px 0 10px 0;
        font-size: 30px;
        padding: 10px;
        opacity: 0.5;
      }
      textarea {
        color: rgb(112, 112, 112);
        resize: none;
        border: 1px solid #27c7ab;
        width: 100%;
        height: 175px;
        margin: 10px 0 10px 0;
        font-size: 30px;
        padding: 10px;
        opacity: 0.5;
      }
    }
  }
  .articleColumn1 {
  }
  .articleColumn2 {
    text-align: center;
    .redChair {
      margin-top: 50px;
      background: url("../images/red_chair.png") no-repeat center;
      height: 210px;
    }
    .twoInOne {
      margin-top: 15px;
      display: flex;
      align-content: flex-start;
      justify-content: space-between;
      .tick {
        padding: 25px;
        width: 48px;
        border: 1px solid rgba(39, 199, 171, 0.5);
        height: 40px;
        background: url("../images/form_ok.jpg") no-repeat center;
      }
      .approve {
        margin-left: 20px;
        text-align: left;
        font-size: 20px;
        color: rgb(112, 112, 112);
      }
    }
    .button {
      font-size: 35px;
      font-weight: bold;
      border-radius: 10px 10px 10px 10px;
      margin: auto;
      padding: 10px;
    }
  }
}
footer {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    .leftFooter {
      color: rgb(112, 112, 112);
      margin-right: auto;
      padding: 10px 0 30px 0;
    }
    .flickr {
      width: 35px;
      height: 35px;
      background: url("../images/flickr.png") no-repeat center;
      margin-right: 5px;
    }
    .vimeo {
      width: 35px;
      height: 35px;
      background: url("../images/vimeo.png") no-repeat center;
      margin-right: 5px;
    }
    .pinterest {
      height: 35px;
      width: 35px;
      background: url("../images/pinterest.png") no-repeat center;
      margin-right: 5px;
    }
    .twitter {
      height: 35px;
      width: 35px;
      background: url("../images/twitter.png") no-repeat center;
      margin-right: 99px;
    }
    .rightFooter {
      color: rgb(112, 112, 112);
      padding: 10px 0 30px 0;
    }
  }
}
.application {
  background-color: white;
  padding:30px 0;
}
.application .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.application h3 {
  color: black;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  //width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}


.title {
  height: 30px;
}

@media (max-width: 319px) {
  body {
    display: none;
  }
}

@media (max-width: 571px) {
  body header {
    height: fit-content;
  }
  .gradientBackground {
    height: fit-content;
  }
  .leftSlider {
    display: none;
  }
  .firstSectionImg {
    display: none;
  }
  .gradientBackground .container .mainText {
    width: 100%;
    margin: 25px 0;
  }
  .rightSlider {
    display: none;
  }
}