/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
}

header {
    width: 99.75%;
    background: black;
    margin: 1px auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navLeft {
    float: left;
    color: white;
    margin: 10px 5px;
    font-size: 18px;
}

.lightCyan {
    color: #27c7ab;
    font-weight: bold;
}

.navRight {
    float: right;
    color: white;
    margin: 10px 5px;
    font-size: 17px;
    font-weight: bold;
}

.navRight li{
    float: left;
}

.container ul {
    list-style: none;
}

.navRight li{
    margin-left: 40px;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.gradientBackground {
    background: rgba(252,252,252,1);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(59%, rgba(252,252,252,1)), color-stop(96%, rgba(174,174,174,1)), color-stop(100%, rgba(166,166,166,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 59%, rgba(174,174,174,1) 96%, rgba(166,166,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#a6a6a6', GradientType=0 );
}

.leftSlider {
    float: left;
    width: 5%;
    font-size: 75px;
    font-weight: 100;
    line-height: 500px;
}

.firstSectionImg {
    background: url("../images/black_chair.png") no-repeat left/contain;
    float: left;
    width: 50%;
    margin: 70px -50px;
    height: 400px;

}

.mainText {
    float: left;
    width: 40%;
    margin-top: 150px;
}

.rightSlider {
    float: right;
    width: 5%;
    font-size: 75px;
    font-weight: 100;
    text-align: right;
    line-height: 500px;
}

.mainText h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

.mainText div {
    text-align: center;
    margin-bottom: 50px;
}

.button {
    background: #27c7ab;
    color: white;
}

.mainText .button {
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 90px;
    padding: 10px;
}

.secondSection {
    padding-top: 25px;
    display: flex;
    height: 350px;
    justify-content: space-between;
}

.whiteChair {
    background: url("../images/box1_img.jpg") no-repeat;
    height: 225px;
    width: 329px;
}

.kido {
    background: url("../images/box2_img.jpg") no-repeat;
    height: 225px;
    width: 329px;
}

.mysteryBox {
    height: 225px;
    width: 329px;
    border: 1px solid lightgray;
}*/